app-add-task {
  .add-task-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .input-width {
      width: 400px;
    }
  }
}
